<script>
export default {
  name: "company-view",
  data() {
    return {
      companyData: {},
    };
  },
  computed: {
    companyName() {
      return this.$route.params.name;
    },
    company() {
      return this.$store.getters.getCompanyByName(this.companyName);
    },
  },
};
</script>

<template>
  <main id="company">
    <h1 v-if="companyName">Reviews of {{ companyName }}</h1>
    <section v-if="company">
      <p>City: {{ company.address.city }}</p>
    </section>
  </main>
</template>

<style>
#company {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
