<script>
export default {
  name: "cardItem",
  props: {
    as: { type: String, required: false, default: "li" },
    index: { type: Number, required: false },
  },
  computed: {
    hoverStyles() {
      const hasClickEventListener = this.$listeners.clicked;
      return hasClickEventListener ? "isClickable" : "";
    },
    isListElement() {
      return this.as === "li" ? "list" : "";
    },
  },
  methods: {
    handleClick(index) {
      this.$emit("clicked", index);
    },
  },
};
</script>

<template>
  <component
    @click="handleClick(index)"
    class="card"
    :is="as"
    :class="[isListElement, hoverStyles]"
  >
    <slot class="title" name="title"></slot>
    <slot class="sub-title" name="sub-title"></slot>
    <slot class="content" name="content"></slot>
  </component>
</template>

<style scoped>
.list {
  list-style-type: none;
}

.card {
  border: 1px solid black;
  border-radius: 2px;
  cursor: var(--cursor);
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.sub-title {
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

.content {
  border: 1px solid black;
  font-size: 16px;
}

.isClickable.card:hover {
  color: blue;
  background: grey;
  cursor: pointer;
}
</style>
