<script>
export default {
  name: "textField",
  data() {
    return {
      text: "",
    };
  },
  props: {
    variant: { required: false, type: String, default: "default" },
    minCharacters: { required: false, type: Number },
    placeholder: { required: false, type: String },
    onChange: { required: false, type: Function },
  },
  methods: {
    handleInput(event) {
      if (this.text.length < this.minCharacters) {
        return;
      }
      this.$emit("change", event);
    },
  },
};
</script>

<template>
  <div>
    <input :class="variant" v-model="text" type="text" @input="handleInput" />
  </div>
</template>

<style scoped>
input {
  font-size: 24px;
  padding: 16px 18px;
}

.default {
  border: 1px solid black;
}

.warning {
  border: 1px solid red;
}
</style>
