<script>
export default {
  name: "button-base",
  props: {
    as: { type: String, required: false, default: "button" },
    variant: { type: String, required: false, default: "default" },
  },
  methods: {
    handleClick(event) {
      this.$emit("click", event);
    },
  },
};
</script>

<template>
  <component :is="as" :class="variant" class="button">
    <slot />
  </component>
</template>

<style scoped>
.button {
  border-radius: 2px;
  padding: 12px;
}

.default {
  background: blue;
  color: white;
}
</style>
