<script>
import TextField from "../../components/TextField/textField.vue";
import Card from "../../components/Card/card.vue";

export default {
  name: "search-view",
  data() {
    return {
      searchTerm: "",
    };
  },
  props: {
    data: {
      required: false,
      type: Array,
    },
  },
  components: {
    Card,
    TextField,
  },
  mounted() {
    console.log(this.data);
  },
  methods: {
    viewCompany(name) {
      if (!name) {
        return;
      }
      this.$router.push(`company/${name}`);
    },
    handleTextFieldChange(event) {
      this.searchTerm = event.target.value;
    },
  },
  computed: {
    isLoading() {
      return this.$store.getters.isLoading;
    },
    users() {
      return this.$store.getters.users;
    },
  },
};
</script>

<template>
  <main id="search">
    <text-field
      v-on:change="handleTextFieldChange($event)"
      placeholder="search for users"
    />
    <p>Search Term: {{ searchTerm }}</p>
    <p v-if="isLoading">Loading..</p>
    <ul v-else :key="user.id" v-for="user in users">
      <card
        v-on:clicked="viewCompany(user.company.name)"
        :key="`card-${user.id}`"
        :index="user.id"
      >
        <template v-slot:title
          ><h2>{{ user.company.name }}</h2>
        </template>
        <template v-slot:sub-title
          ><h3>{{ user.company.department }}</h3>
        </template>
        <template v-slot:content>
          <p>{{ user.company.address.city }}</p>
        </template>
      </card>
    </ul>
  </main>
</template>

<style>
#search {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
